
<div id="container" class="updateDialog all-dialog">
  <div class="dialog-design">
    <div class="header d-flex justify-content-between align-items-center">
     <span class="h3 fw-bold" >Update Emergency</span> <span class="fs-3 cursor-pointer" (click)="closeUpdate()"><i class="fa-solid fa-xmark"></i></span>

     </div>
     <div class="row">
      <div class="col-md-12 stretch-card">
        <div class="card border-0">
          <div class="card-body">
              <form [formGroup]="emergForm" (submit)="changeEmergency()">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <label class="form-label">Title</label>
                      <input type="text" class="form-control border-1 border-primary" placeholder="Enter Title of Emergency" formControlName="title">
                    </div>
                  </div><!-- Col -->
                  <div class="col-sm-4">
                    <label for="category">Choose Type</label>
                   <select id="category" class=" form-control mb-3 mt-2 border-1 border-primary"  formControlName="category">
                    <option value="A-">A-</option>
                    <option value="A+">A+</option>
                    <option value="B-">B-</option>
                    <option value="B+">B+</option>
                    <option value="O-">O-</option>
                    <option value="O+">O+</option>
                   </select>
                  </div>
                </div><!-- Row -->
                <div class="row">
                  <!-- <div class="col-sm-4">
                    <div class="mb-3">
                      <label class="form-label">City</label>
                      <input type="text" class="form-control border-1 border-primary" placeholder="Enter city">
                    </div>
                  </div>Col -->
                  <div class="col-sm-4">
                    <div class="mb-3">
                      <label class="form-label">Location</label>
                      <input type="text" class="form-control border-1 border-primary" placeholder="Enter location of emergency" formControlName="location">
                    </div>
                  </div><!-- Col -->
                  <div class="col-sm-4">
                    <label for="">Choose Level</label>
                   <select id="level" class=" form-control mb-3 mt-2 border-1 border-primary"  formControlName="level">
                    <option value="Low">Low</option>
                    <option value="Mid">Mid</option>
                    <option value="High">High</option>
                   </select>
                  </div>
                  <div class="col-sm-4 position-relative mb-4 mb-sm-0">
                    <div class="mb-3">
                      <label class="form-label mb-5 mb-sm-0">Date</label>
                      <input type="date" class="form-control" formControlName="date">
                    </div>
                  </div><!-- Col -->

                </div><!-- Row -->
                <div class="row">

                  <div class="col-sm-8">
                    <label for="">Summary</label>
                    <textarea id="" cols="50" rows="10" class="w-100 border-1 border-primary" formControlName="summary"></textarea>
                  </div>
                </div><!-- Row -->
              </form>
              <div class="action d-flex justify-content-between mt-2">
                <button type="submit" (click)="changeEmergency()"> update</button>
                <button class="cancel" (click)="closeUpdate()"> cancel</button>
               </div>          </div>
        </div>
      </div>
    </div>
     </div>

  </div>

<div id="container" class="deleteDialog all-dialog">
  <div class="dialog">
    <div class="header d-flex justify-content-between align-items-center">
      <span class="h3 fw-bold">Delete Emergency</span> <span class="fs-3 cursor-pointer" (click)="closeDelete()"><i class="fa-solid fa-xmark"></i></span>
     </div>
     <div class="content">
      <div class="body d-flex align-items-center">
        <i class="fa-solid fa-triangle-exclamation fs-1 pe-3 pe-lg-4"></i> <p class="h3">Sure to Delete this Emergency <span class=" text-capitalize shadow-lg p-2 rounded-3 text-black"></span> ?</p>
       </div>
      <div class="action d-flex justify-content-between">
        <button > Delete</button>
        <button class="cancel" (click)="closeDelete()"> cancel</button>
       </div>
     </div>
  </div>
</div>
<div class="row g-3  bg-white shadow-sm pb-5">
  <div class="col-12 p-4">
    <h6 class="card-title fw-bold fs-5">All Emergency</h6>

    </div>
    <div class="col-md-4" *ngFor="let emer of myEmergency" >
      <div class="inner h-100 rounded-3">
        <div class="card h-100">
          <img [src]="emer.frontMatter.images" height="300" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-truncate">{{emer.frontMatter.title}}</h5>
            <p class="card-text truncate-four-lines h-40">{{emer.frontMatter.summary}}</p>


                <div class="emergency-data pb-2 pt-1 px-1">
                  <div class="d-flex justify-content-between align-items-center pb-2">

                    <!-- <div class="d-flex align-items-center">
                      <div class="emer-span">
                        <div class="button-wrapper">
                          <div class="text">Date : </div>
                            <span class="icon">
                              <i class="fa-regular fa-calendar-days"></i>
                            </span>
                          </div>
                      </div>
                      <span class=" fw-bolder ps-1">{{emer.frontMatter.date.split('T')[0].split('-')[1] +'-'+ emer.frontMatter.date.split('T')[0].split('-')[2]  }}</span>
                    </div> -->


                      <div class="d-flex align-items-center">
                        <div class="emer-span" [ngClass]="emer.frontMatter.level == 'High' ? 'bg-danger' : ''">
                          <div class="button-wrapper">
                            <div class="text">Priority : </div>
                              <span class="icon">
                                <i class="fa-solid fa-signal"></i>
                              </span>
                            </div>
                        </div>
                        <span class="ps-2" >{{emer.frontMatter.level}}</span>
                      </div>



                      <div class="d-flex align-items-center">
                        <div class="emer-span">
                          <div class="button-wrapper">
                            <div class="text">Type : </div>
                              <span class="icon">
                                <i class="fa-brands fa-typo3"></i>
                              </span>
                            </div>
                          </div>
                          <span class=" fw-bolder ps-2">{{emer.frontMatter.category}}</span>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="emer-span">
                        <div class="button-wrapper">
                          <div class="text">Location : </div>
                            <span class="icon">
                              <i class="fa-solid fa-location-dot"></i>
                            </span>
                          </div>
                        </div>
                        <span class="ps-2">{{emer.frontMatter.location}}</span>
                    </div>

                  </div>
                </div>
                <div>
                  <button class="update mx-0 btn btn-warning w-100" (click)="openUpdate(emer)">
                   <span>Update</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

